
<div class="card">
  <div class="card-block text-center pt-2">
    <h1>Notes <img class="icon" src="/img/notes.png" alt="edit"></h1>
  </div>
</div>


{{#each notes}}
  <div class="card card-body m-2">
    <h4>{{title}}</h4>
    <p>{{detail}}</p>
    <hr class="span-12">
    <div class="row">
      <div class="ml-auto col-2">
        <a href="/notes/edit/{{id}}" class="btn btn-dark btn-block">Edit</a>
      </div>
      <div class="col-2">
        <form action="/notes/{{id}}?_method=DELETE"
        method="post">
        <input type="hidden" name="_method" value="DELETE">
          <input class="btn btn-danger btn-block" type="submit" name="submit" value="Delete">
        </form>
      </div>
    </div>


  </div>
{{else}}
  <p>No notes exist</p>
{{/each}}
